@use '../base/index' as *;

.burger-btn {
	@include reset-btn;
	@include square(48px);

	
	position: relative;
	border-radius: var(--border-radius-small);

	@include hover {
		background-color: var(--color-cyan-500);
	}
	
	&::after {
		@include abs-center;

		content: '';
		width: 50%;
		height: 2px;
		background-color: var(--color-gray-500);
		border-radius: 5px;
		box-shadow: 0 8px var(--color-gray-500), 0 -8px var(--color-gray-500);
	}
}