@use '../base/index' as *;

.cross-btn {
	@include reset-btn;
	@include square(48px);

	position: relative;
	border-radius: var(--border-radius-small);
	top: 14px;
	left: -5.5px;

	@include hover {
		background-color: var(--color-orange-500);
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 10px;
		top: 23px;
		width: 60%;
		height: 3px;
		background-color: var(--color-gray-500);
		border-radius: 5px;
	}

	&::before {
		rotate: 45deg;
	}
	&::after {
		rotate: -45deg;
	}
}