@use 'mixins' as *;

body {
	// импортируем миксин и задаём глобально размеры текста
	@include fluid-text (16,14);
	
	font-family: var(--font-famaly-base);
	font-weight: 500;
	line-height: 1.87;
	color:var(--color-gray-300);
	background-color: var(--color-lime);
}

a,button,input,textarea, svg * {
	transition-duration: var(--transition-duration);
}
a {
	text-decoration: none;
	color: inherit;
}

h1,h2,h3,h4 {
	font-weight: 700;
}

// Для каждого заголовка глобально задаём размер текста через
// миксин, мак и мин размер (есть среднее значение, оно высчитывается в миксине, чек mixins)
h1 {
	@include fluid-text(82,63)
}
h2 {
	@include fluid-text(60,46)
}
h3 {
	@include fluid-text(28,24)
}